body {
  background: no-repeat fixed center;
  background-image: url(background.jpg);
  background-size: cover;
  font-family: "Roboto Slab", serif;
  color: #46404d;
}
ul {
  list-style: none;
  padding: 0;
}
.weather-app-wrapper {
  margin: 100px;
}
.card {
  background-color: rgba(218, 213, 223, 0.582);
  --bs-card-border-color: rgb(0 0 0 / 0%);
  --bs-card-border-radius: 1.3rem;
}

.description-list {
  padding-top: 2.1rem;
}
.date {
  padding-top: 4rem;
  font-size: 2rem;
}
.time {
  padding-top: 2rem;
  font-size: 3rem;
}
#temperature {
  font-size: 1.5rem;
}
#overview,
#descriptions,
#clock,
#date {
  text-align: center;
  line-height: 2rem;
}
.description-list {
  padding-top: 4rem;
}
li:first-letter {
  text-transform: capitalize;
}
.git-link {
  text-decoration: none;
  font-weight: bold;
  color: #46404d;
}
