body {
  background: no-repeat fixed center;
  background-image: url(background.jpg);
  background-size: cover;
  font-family: "Roboto Slab", serif;
  color: #46404d;
}
ul {
  list-style: none;
  padding: 0;
}
.header {
  margin-top: 20px;
}
.bg-light {
  --bs-bg-opacity: 0;
}
.btn-dark {
  --bs-btn-color: #72667f;
  --bs-btn-bg: #b4aeba94;
  --bs-btn-border-color: #b4aeba94;
  --bs-btn-hover-color: #72667f;
  --bs-btn-hover-bg: #dad5df94;
  --bs-btn-hover-border-color: #dad5df94;
  --bs-btn-focus-shadow-rgb: 114, 102, 127;
  --bs-btn-active-color: #72667f;
  --bs-btn-active-bg: #dad5df94;
  --bs-btn-active-border-color: #dad5df94;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-gradient: none;
}
#search-box {
  width: 400px;
  background-color: #dad5df94;
  border: 1px solid #948b9d94;
}
.container {
  margin: 100px auto;
}
.card {
  background-color: rgba(218, 213, 223, 0.582);
  --bs-card-border-color: rgb(0 0 0 / 0%);
  --bs-card-border-radius: 1.3rem;
}

.description-list {
  padding-top: 2.1rem;
}
.date {
  padding-top: 4rem;
  font-size: 2rem;
}
.time {
  padding-top: 2rem;
  font-size: 3rem;
}
#temperature {
  font-size: 1.5rem;
}
#overview,
#descriptions,
#clock,
#date {
  text-align: center;
  line-height: 2rem;
}
.description-list {
  padding-top: 4rem;
}
li:first-letter {
  text-transform: capitalize;
}
.git-link {
  text-decoration: none;
  font-weight: bold;
  color: #46404d;
}
